/* ========================= */
/* ALL DESKTOP (>768)        */
/* ========================= */
@media screen and (min-width: 768px) {
	/*body {
		background: #00800033 !important;
	}*/

	.wf-hide {
		display: none !important;
	}

	.page-breadcrumb {
		margin-bottom: 30px;
	}

	.wf-logo-copy {
		width: 10% !important;
		max-width: 96px;
		padding: 0 !important;
		margin: 0 !important;
	}

	.wf-title-container {
		width: 88%;
		float: right;
	}

	.wf-exp .wf-no-logo {
		width: 100% !important;
		float: none;
	}

	.wf-product-title {
		width: 100%;
		margin-bottom: 10px;
	}

	.wf-review-stars {
		display: inline-block !important;
		width: 140px !important;
		vertical-align: top !important;
	}

	.wf-add-to-wish-list {
		display: inline-block;
		margin-top: 2px;
		vertical-align: middle;
		height: 30px;
	}

	.wf-add-to-wish-list > .wishlist {
		margin: 0;
		padding: 0;
	}

	.add-cart.product-detail__button.product-detail__button-icon {
		width: 100%;
	}

	.wf-exp .product-detail__preview-gallery {
		width: 60%;
		padding: 0 0 20px 0;
	}

	.wf-exp .product-detail__options {
		width: 40%;
	}

	.product-swatches {
		display: none;
	}

	.wf-exp .wf-image-preview {
		display: inline-block;
		position: relative;
		width: 60%;
		left: 0;
	}
	
	.wf-exp .wf-image-preview .product-swatches__list-wrapper {
		position: relative;
		margin: 0;
		height: 108px;
		max-width: 324px;
		width: 324px;
	}

	.wf-exp .wf-image-preview .product-swatches__wrapper > *,
	.wf-exp .wf-image-preview .product-swatches__item {
		display: inline-block;
	}

	.wf-exp .product-swatches__btn {
		margin: 0;
		vertical-align: top;
		margin-top: 40px;
	}

	#product-detail__preview {
		margin-bottom: 30px;
	}

	#product-detail__preview .locator {
		background: none;
		color: #0c93b3;
		width: 50%;
		min-width: 120px;
		margin: 0;
		padding: 0;
		text-align: left;
		font-size: 16px;
		margin-top: 13px;
	}

	.wf-exp .locator span:before {
		background: url('images/wf-sprite.png') no-repeat 0 0;
		width: 19px;
		height: 25px;
		margin-top: -14px;
	}

	.wf-exp .wf-view-description {
		display: inline-block;
		/*margin-top: -3px !important;*/
		margin-top: 10px !important;
		width: 50%;
		font-size: 16px;
		text-align: left;
	}

	.product-detail__form-wrapper {
		padding-bottom: 20px;
	}

	.wf-exp .product-stores-wrapper {
		margin-top: 10px;
		width: 100%;
	}

	.wf-exp .product-swatches__btn-top {
		visibility: visible;
		content: '';
		background: url('images/wf-sprite.png') no-repeat -1px -35px;
		width: 18px;
		height: 27px;
	}

	.wf-exp .product-swatches__btn-bottom {
		visibility: visible;
		content: '';
		background: url('images/wf-sprite.png') no-repeat 0 -68px;
		width: 18px;
		height: 27px;
	}

	.wf-exp .product-swatches__list {
		transition: margin 250ms ease-in-out;
	}

	.wf-exp .product-swatches__wrapper {
		width: 369px;
		margin: 0 auto;
	}

	.wf-exp .wf-thumb-7 {
		width: 756px !important;
	}

	.wf-exp .wf-thumb-6 {
		width: 648px !important;
	}

	.wf-exp .wf-thumb-5 {
		width: 540px !important;
	}

	.wf-exp .wf-thumb-4 {
		width: 432px !important;
	}

	.wf-exp .wf-thumb-3 {
		width: 324px !important;
	}

	.wf-exp .wf-thumb-2 {
		width: 216px !important;
	}

	.wf-exp .wf-thumb-1 {
		width: 108px !important;
	}

	.wf-exp .wf-arrow-hidden {
		visibility: hidden;
	}

	.wf-exp .locator:hover {
		text-decoration: underline;
	}

	.wf-exp .product-detail__price {
		min-height: initial;
		margin-bottom: 25px;
	}

	.wf-exp .product-detail__user-reviews {
		display: none;
	}

	.wf-exp .product-stores__carat {
		float: none;
		margin-left: 45px;
	}

	.wf-exp .remove-wishlist {
		padding: 0;
	}
}

@media screen and (min-width: 1024px) {
	/*body {
		background: #f003 !important;
	}*/

	.wf-exp .product-detail__button {
		float: none;
	}
	/*ADD A NEW CLASS AFTER COUNTING THE NUMBER OF ITEMS*/
	.wf-exp .wf-image-preview .product-swatches__list-wrapper {
		max-width: 540px;
		width: 540px;
	}
	
	.wf-exp .product-detail__preview-gallery,
	.wf-exp .wf-image-preview {
		width: 65%;
	}

	.wf-exp .product-detail__options {
		width: 35%;
	}
	
	.wf-exp .product-swatches__wrapper {
		width: 585px;
	}
}

@media screen and (min-width: 1241px) {
	/*body {
		background: #00f3 !important;
	}*/

	.wf-title-container {
		width: 90%;
	}

	.wf-logo-copy {
		width: 8% !important;
	}

	.wf-exp .wf-image-preview .product-swatches__list-wrapper {
		max-width: 756px;
		width: 756px;
	}
	
	.wf-exp .product-detail__preview-gallery,
	.wf-exp .wf-image-preview {
		width: 68%;
	}

	.wf-exp .product-detail__options {
		width: 32%;
	}

	.wf-exp .product-swatches__wrapper {
		width: 801px;
	}
}

@media screen and (max-width: 950px) {
	.wf-exp #product-detail__preview .locator {
		display: block;
		width: 100%;
	}
	
	.wf-exp .wf-view-description {
		display: block;
		margin-top: 13px !important;
		width: 100%;
	}

	.wf-exp .product-stores {
		top: 35px;
	}

/*	.wf-exp .wf-in-store-ie {
		top: 35px !important;
	}*/
}